{
  "extends": ["@readme/eslint-config", "@readme/eslint-config/react"],
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "extends": ["@readme/eslint-config/typescript"],
    },
  ],
  "root": true,
}
