.cm-lineNumber {
  left: 0px;
  width: 21px;
  display: inline;
  line-height: inherit;
  margin-right: 10px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
