name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node:
          - lts/-1
          - lts/*
          - latest
        react: [18]

    name: build node ${{ matrix.node }} w/ React ${{ matrix.react }}

    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: npm ci

      - name: Install React v${{ matrix.react }}
        run: npm i react@${{ matrix.react }} react-dom@${{ matrix.react }}

      - name: Run tests on React ${{ matrix.react }}
        run: REACT_VERSION=${{ matrix.react }} npm test
